* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: rgb(222, 12, 40);
  background-image: url(/fotos/red-girl.jpg);
  background-repeat: no-repeat;
  background-size: 1200px;
  background-position: 100% 0%;
  color: #fff;
}

nav{
  background-color: rgba(34, 32, 32, 0.699) ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

nav .logo{
  height: 90px; /* Ajuste a altura da logo conforme necessário */
  margin-right: 50px; /* Espaço entre a logo e a lista de navegação */
  
}

.logo{
  background-size: 10px;
}

nav ul{ /* centralização da barra*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Organiza os itens da lista em linha */
  justify-content: left;/* Centraliza a lista */
  flex-grow: 1; /* Faz a lista ocupar o espaço restante */

}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  background-color: #575757;
  border-radius: 5px;
}

body::before {
  content: "";
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%);/* Recorte no lado esquerdo */
  position: absolute;
  width: 100%; /*largura*/
  height: 700px; /* Ajuste a altura conforme necessário */
  background-image: url('/fotos/red-girl-removebg.png'); /* Imagem de fundo */
  background-size: cover;
  background-position: center;
  z-index: 2; /* Faz o pseudo-elemento ficar acima da nav */
  transform: translateY(0%); /* Ajusta a parte da imagem que "sai" sobre a nav */
  /*border: 2px solid rgb(81, 255, 0);*/
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  /*background-color: #000;*/
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #000000;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.hero-image img {
  width: 500px;
  height: auto;
}

.features-section {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-color: #22222200;
}

.feature-card { /* cards em si*/
  background-color: rgba(34, 32, 32, 0.699);
  padding: 20px;
  border-radius: 20px;
  width: 30%;
  text-align: center;
  z-index: 3;
}

.feature-card h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 1.2rem;
  color: #ccc;
}